@import "../../scss/breakpoints";
@import "../../scss/colors";
@import "../../scss/typography.scss";

.app-font-color {
  font-size: 1.6rem;
  color: $base-color;
}

.logout-position {
  padding-right: 10px;
  font-size: 30px;
}

.pager-cursor {
  cursor: pointer;
}
